
body {
  font-family: "Playfair Display", sans-serif;
  background-color: whitesmoke;

}

h1 {
  color: whitesmoke;
  text-align: center;
  background-color: rgb(103, 49, 71);
  padding-bottom: 1em;
  padding-top: 1em;
  border-radius: 4px;
  font-family: "Playfair Display", sans-serif;
}

h2 {
  color: rgb(103, 49, 71);
  text-align: left;
  font-size: 20px;
  border-radius: 4px;
  font-family: "Playfair Display", sans-serif;
}

p {
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  text-align: left;
}

l {
    padding-left: 10em;
}

head {
    font-family: "Georgia", sans-serif;
    line-height: 24px;
    padding-left: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}


footer {
}


table {
  background: white;
}

tr {
    font-family: "Georgia", sans-serif;
    line-height: 24px;
    padding-left: 50px;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

a {
  color: whitesmoke;
}

a:visited {
  color: lightblue;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 #50494c, 0 6px 20px 0 #50494c;
  width: 100%;
  cursor: pointer;
}

/* generic page structure */
.grid {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-evenly;
  grid-template-columns: 1fr repeat(9, minmax(auto, 8em)) 1fr;
}

.colophon {
  grid-row: 1;
  grid-column: 2/11;
  text-align: left;
  color: whitesmoke;
  background-color: rgb(103, 49, 71);
  font-family: "Playfair Display", sans-serif;
  line-height: 35px;
  padding: 20px;
  font-size: 30px;
  display: flex;
}

.navigation {
  grid-row: 2;
  grid-column: 2/11;
  grid-auto-columns: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin: 0px;
  padding: 0px;
  background: rgb(103, 49, 71);
  z-index: 2;
  line-height: 1;
}

.navigation li {
  float: left;
}

.navigation a:hover {
  background-color: #316831;
}

.navigation a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.title {
  width: 90%;
}

.banner {
  grid-row: 2;
  grid-column: 2/11;
  text-align: center;
  background-color: rgb(103, 49, 71);
}

.solid {
  border-style: solid;
  margin: 20px;
  border-color: white;
}

.left .right {
  width:50%;
}

.info {
  grid-row: 3;
  grid-column: 3/10;
  background-color: white;  
}

.whcard {
  grid-row: 4;
  grid-column: 3/10;
  background-color: white;  
}

.about {
  grid-row: 4;
  grid-column: 3/10;
  display: flex;
}

.buttonbox {
  padding: 30px;
  width: 33%;
  text-align: center;
}

#onlineresources_button {
  background-image: url('css/cardsnip.gif');
}

.sectionbutton {
  height: 200px;
  text-align: center;
}

.sectionbutton:hover {
  box-shadow: 0 8px 16px 0 #316831, 0 6px 20px 0 #316831;
  opacity: 1.5;
}

.buttontext {
  background-color: #316831;
  color: whitesmoke;
  padding: 8px;
}

.research {
  grid-row: 5;
  grid-column: 3/10;
}

.main-footer {
  grid-column: span 12;
  grid-row: 6; 
  background-color: lightgrey;
  text-align: center;
  color: whitesmoke; 
}

.WHCard {
  grid-row: 5;
  grid-column: 2/9;
}



#myInput {
  background-image: url('css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}