
body {
  font-family: Carrois Gothic, Tahoma, sans-serif;
  background-color: whitesmoke;

}


h1 {
  color: whitesmoke;
  text-align: center;
  background-color: rgb(103, 49, 71);
  padding-bottom: 1em;
  padding-top: 1em;
}

h2 {
  color: black;
  text-align: left;
  font-size: 20px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

l {
    padding-left: 10em;
}

head {
    font-family: "Georgia", sans-serif;
    line-height: 24px;
    padding-left: 50px;
}



footer {

}


table {
  background: white;
}

tr {
    font-family: "Georgia", sans-serif;
    line-height: 24px;
    padding-left: 50px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

/* generic page structure */
.grid {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}


.pages {
}

.colophon {
  grid-row:1;
  grid-column: span 5;
  background-color: black;
  text-align: center;
  color: white;
  background-color: rgb(103, 49, 71);
}

.global-nav {
  grid-row: 1;
  grid-column: 6/11;
  grid-auto-columns: 50px;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  background: black;
  z-index: 2;
  line-height: 1;
}


.info {
  grid-row: 3;
  grid-column: 3/9;  
}

.about {
  grid-row: 4;
  grid-column: 3;
}


.publications {
 grid-row: 4;
  grid-column: 4;
}

.onlineresources {
  grid-row: 4;
  grid-column: 5;
}

.research {
  grid-row: 7;
  grid-column: 3/9;
}

.main-footer {
  grid-column: span 12;
  grid-row: 8; 
  background-color: black;
  text-align: center;
  color: white; 
}

.WHCard {

  grid-row: 5;
  grid-column: 2/9;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 100%;
  cursor: pointer;
}



/* Navbar attempt 3 -- code borrowed from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_subnav*/



.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #c20a0a;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #c20a0a;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #b6c1c9;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}